@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner_P7sC {
  transform-origin: center;
  animation: spinner_svv2 0.75s infinite linear;
}
@keyframes spinner_svv2 {
  100% {
    transform: rotate(360deg);
  }
}
